html, body {
    margin: 0px;
    padding: 0px;
    content:"width=device-width";
}

body {
    background-color: #fafafa;
}

a {
    font-weight: 600;
    text-decoration: underline;
    color: rgb(39, 33, 87);
}

#header {
    text-align: center;
    font-family: Georgia, serif;
    font-size: x-large;
}

#last_update {
    font-size: small;
    align-items: center;
    word-wrap: break-word;
    margin:auto;
    width:30%;
}

#data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#graph {
    width: 60%;
    padding: 0.01em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

#download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 0.2em;
}

th {
    text-align: center;
    border-bottom: 1px solid #444444!important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modebar {
    display: none !important;
}

#footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#disclaimer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    margin:auto;
    width:30%;
}

p {
    display: block;
    width: 800px;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.button {
    margin: 0.5px;
    background-color: rgb(235, 229, 229);
    color: black;
    border: 1.5px solid #0b789c;
}

.button:hover {
    background-color: rgb(211, 210, 210);
    cursor: pointer;
}

.t {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    text-align: justify;
    font-size: normal;
}

#abstract_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#under_data {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topNav {
    background-color: rgb(136, 136, 136);
    overflow: auto;
    padding: 5px;
    margin: 0;
}

.dataBoxText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}

.collapsible {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(182, 182, 182);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    word-wrap: break-word;
}

.active, .collapsible:hover {
    background-color: rgb(148, 145, 145);
}

.content {
    padding: 0px 25px 0px 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    background-color: #f1f1f1;
}

.arrow {
    border: solid rgb(56, 56, 56);
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  @media only screen and (max-device-width: 480px) {

    .t {
        width: 98%;
        font-size: large;
    }
    
    div#graph {
        width: 99%;
    }

  }