html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

a {
    font-weight: 600;
    color: rgb(14, 20, 75);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: medium;
    background-color: #e2e2e2;
    border: solid #e2e2e2;
}

#lastUpdate {
    font-size: small;
    align-items: center;
    word-wrap: normal;
    margin: auto;
    width: 30%;
}

#data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#graph {
    width: 60%;
    padding: 0.01em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.loadingSpinner {
    border: 6px solid #efefef;
    border-top: 6px solid rgb(136, 136, 136);
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingSpace {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 445px;
    padding-bottom: 125px;
}

h1 {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    font-size: small;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.tableRowBorderBottom {
    border-collapse: collapse;
    border-spacing: 0;
}

tr.rowBorder td {
    border-bottom: 0.5px solid rgba(187, 186, 186, 0.37);
}

td, th {
    padding: 0.2em;
}

th {
    text-align: center;
    border-bottom: 1px solid #444444 !important;
    font-family: "Open Sans", verdana, arial, sans-serif;
}

.modebar {
    display: none !important;
}

#footer {
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: small;
    background-color: #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    margin-top: 40px;
    padding: 10px 0 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.feature {
    font-size: x-small;
    margin: 7px auto 7px auto;
    width: 30%;
}

.disclaimer {
    font-size: x-small;
    padding: 5px 0 5px;
}

p {
    display: block;
    height: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: normal;
}


.button:hover {
    background-color: rgb(211, 210, 210);
    cursor: pointer;
}

.t {
    font-family: "Open Sans", verdana, arial, sans-serif;
    width: 50%;
    text-align: justify;
    font-size: small;
}

#abstractContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}

#outputGapTextUnderData {
    font-size: x-large;
    word-wrap: normal;
    white-space: normal;
    word-break: normal;
}

#underData {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: normal;
    white-space: normal;
    word-break: normal;
}

.topNav {
    background-color: rgb(136, 136, 136);
    overflow: auto;
    padding: 2px;
    margin: 0;
}

.collapsible {
    font-family: "Open Sans", verdana, arial, sans-serif;
    color: white;
    background: linear-gradient(180deg, #aaaaaa 0%, #797979 100%);
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    word-wrap: normal;
    font-size: x-large;
}

.active, .collapsible:hover {
    background: linear-gradient(180deg, #949494 0%, #6e6e6e 100%);
}

.content {
    padding: 0 25px 0 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #f1f1f1;
}

.arrow {
    border: solid rgb(39, 39, 39);
    float: right;
    margin-top: 13px;
    margin-bottom: 13px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transition: 0.05s ease-out;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.button {
    font-family: "Open Sans", verdana, arial, sans-serif;
    margin: 1.5px;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 8px;
    border-radius: 3px;
    border: none;
    background: linear-gradient(180deg, #e2e2e2 0%, #c5c5c5 100%);
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
    color: #000000;
    touch-action: manipulation;
    min-width: 300px;
}

.button:hover {
    outline: 0;
    background: #d1d1d1;
}

.button:active {
    box-shadow: inset 0 0 0 2px rgba(108, 154, 255, 0.5);
}

.tweetButton {
    font: normal normal normal 12px/18px 'Helvetica Neue', Arial, sans-serif;
    background-color: #1DA1F2;
    color: white;
    font-size: small;
    border-radius: 14px;
    border: 0;
    padding: 4px 8px;
    display: inline-block;
    cursor: pointer;
}

.tweetButton:hover {
    background-color: rgb(22, 142, 218);
}

#historicalNowcastsQuarterSelector {
    font-family: "Open Sans", verdana, arial, sans-serif;
    min-height: 25px;
    width: 210px;
    font-size: small;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}


@media only screen and (max-device-width: 520px) and (orientation: portrait) {

    #header, #historicalNowcastsQuarterSelector {
        font-size: small;
    }

    #outputGapTextUnderData {
        font-size: large;
    }

    #lastUpdate, table {
        font-size: x-small;
    }

    .t {
        width: 85%;
    }

    .button {
        font-size: small;
        min-width: 100%;
    }

    #graph {
        width: 99%;
    }

    .disclaimer {
        width: 70%;
    }
}

@media only screen and (max-device-width: 950px) and (orientation: landscape) {

    .t {
        width: 70%;
    }

    #graph {
        width: 90%;
    }

}